# Тестовое задание 

* Исполнитель: Сасимович Игорь Сергеевич (e-mail: ihar.sasimovich@gmail.com ; telegram: http://t.me/ihar367)

### Задание 1. Реестр

С помощью скрипта на python преобразовать исходные данные до датафрейма требуемого формата (ожидаемый результат представлен на листе «Вывод»)

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Считываем исходные данные
# Для удобства проверки задания и возможности прогона скрипта зальём датасеты на Google.Drive.
url = 'https://docs.google.com/spreadsheets/d/1H-FIBAiCiBCFVlBwCBo4WGQjXsUEnQd_/edit?usp=share_link&ouid=104521593033447016990&rtpof=true&sd=true'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
initial_data = pd.read_excel(path, sheet_name=0)

initial_data

,№,Диагноз,Код \nуслуги,Название услуги,Unnamed: 4,Unnamed: 5,Цена по прейскуранту,Цена со скидкой,Кол-\nво,Сумма со скидкой
0,Иванов Иван Иванович Полис...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,13.07.2022,NaN,Врач Горелов,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,H52.0,1.2.4,"Прием (осмотр, консультация) врача-ревматоло...",NaN,NaN,1112.0,1112.0,1.0,1112.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,14.07.2022,NaN,Врач Аксенов,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,J30.0 J34.2 K21 H91.1,1.31.1,"Прием (осмотр, консультация) врача-терапевта...",NaN,NaN,1112.0,1112.0,1.0,1112.0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Петров Петр Петрович Полис № 23-555555/27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,19.07.2022,NaN,Врач Щедрин,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,M54.2 M54.6 M54.1,1.8.1,"Прием (осмотр, консультация) врача-пульмонол...",NaN,NaN,1073.0,1073.0,1.0,1073.0

In [3]:
# Посмотрим типы данных
initial_data.dtypes

№                        object
Диагноз                  object
Код \nуслуги             object
Название услуги          object
Unnamed: 4              float64
Unnamed: 5              float64
Цена по прейскуранту    float64
Цена со скидкой         float64
Кол-\nво                float64
Сумма со скидкой        float64
dtype: object

In [4]:
# Считываем данные и отображаем ожидаемый результат
target_df = pd.read_excel(path, sheet_name=1)
target_df

,ФИО,Номер полиса,Дата оказания услуги,Код услуги,Диагноз,Наименование услуги,Кол-во,Цена по прейскуранту,Сумма со скидкой
0,Иванов Иван Иванович,23-555555/10,13.07.2022,1.2.4,H52.0,"Прием (осмотр, консультация) врача-ревматоло...",1,1112,1112
1,Иванов Иван Иванович,23-555555/10,14.07.2022,1.31.1,J30.0 J34.2 K21 H91.1,"Прием (осмотр, консультация) врача-терапевта...",1,1112,1112
2,Петров Петр Петрович,23-555555/27,19.07.2022,1.8.1,M54.2 M54.6 M54.1,"Прием (осмотр, консультация) врача-пульмонол...",1,1073,1073

In [5]:
# Посмотрим типы данных в ожидаемой от нас таблице
target_df.dtypes

ФИО                     object
Номер полиса            object
Дата оказания услуги    object
Код услуги              object
Диагноз                 object
Наименование услуги     object
Кол-во                   int64
Цена по прейскуранту     int64
Сумма со скидкой         int64
dtype: object

### Решение

In [6]:
# 1. Убираем записи и колонки, состоящие целиком из NAN значений, т.к. маловероятно, что они нам пригодятся.
df = initial_data.dropna(how='all').dropna(axis=1, how='all')

In [7]:
# 3. Для удобства переименуем колонки
df = df.rename(columns={'№': 'fio', 
                   'Диагноз': 'diagnosis', 
                   'Код \nуслуги': 'service_code', 
                   'Название услуги': 'tittle', 
                   'Цена по прейскуранту': 'price', 
                   'Цена со скидкой': 'discounted_price',
                   'Кол-\nво': 'quantity',
                   'Сумма со скидкой': 'discounted_sum'})

In [8]:
# 4. Создадим колонку 'Номер полиса' ('policy_number') на основании столбца fio
df['policy_number'] = df.fio

# df.head()

In [9]:
# 5. Займёмся атрибутом ФИО (fio)
# Создадим функцию split_fio, которая отбирает элементы [0:3] от строки (fio) и объединяет их.

df['fio'] = df.fio.apply(lambda x: x if pd.isna(x) else ' '.join(str(x).split(' ')[0:3]))

In [10]:
# 6. По аналогии поступим и созданным полем 'policy_number'
df['policy_number'] = df.policy_number.apply(lambda x: x if pd.isna(x) else str(x).split()[-1])

In [11]:
df

,fio,diagnosis,service_code,tittle,price,discounted_price,quantity,discounted_sum,policy_number
0,Иванов Иван Иванович,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23-555555/10
1,NaN,13.07.2022,NaN,Врач Горелов,NaN,NaN,NaN,NaN,NaN
2,NaN,H52.0,1.2.4,"Прием (осмотр, консультация) врача-ревматоло...",1112.0,1112.0,1.0,1112.0,NaN
5,NaN,14.07.2022,NaN,Врач Аксенов,NaN,NaN,NaN,NaN,NaN
6,NaN,J30.0 J34.2 K21 H91.1,1.31.1,"Прием (осмотр, консультация) врача-терапевта...",1112.0,1112.0,1.0,1112.0,NaN
10,Петров Петр Петрович,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23-555555/27
11,NaN,19.07.2022,NaN,Врач Щедрин,NaN,NaN,NaN,NaN,NaN
12,NaN,M54.2 M54.6 M54.1,1.8.1,"Прием (осмотр, консультация) врача-пульмонол...",1073.0,1073.0,1.0,1073.0,NaN

In [12]:
# 7. Создадим пустую колонку 'Дата оказания услуги' (date). 
# Данный шаг совсем не обязателен и может быть пропущен, однако с ним визуально проще сравнивать нашу таблицу с ожидаемым результатом. 
df['date'] = None

In [13]:
# Расположим столбцы в требуемом порядке и обновим индексы.
order_of_columns = ['fio', 'policy_number', 'date', 'service_code', 'diagnosis', 'tittle', 'quantity', 'price', 'discounted_sum']
df = df[order_of_columns].reset_index(drop=True)
df

,fio,policy_number,date,service_code,diagnosis,tittle,quantity,price,discounted_sum
0,Иванов Иван Иванович,23-555555/10,None,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,None,NaN,13.07.2022,Врач Горелов,NaN,NaN,NaN
2,NaN,NaN,None,1.2.4,H52.0,"Прием (осмотр, консультация) врача-ревматоло...",1.0,1112.0,1112.0
3,NaN,NaN,None,NaN,14.07.2022,Врач Аксенов,NaN,NaN,NaN
4,NaN,NaN,None,1.31.1,J30.0 J34.2 K21 H91.1,"Прием (осмотр, консультация) врача-терапевта...",1.0,1112.0,1112.0
5,Петров Петр Петрович,23-555555/27,None,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,None,NaN,19.07.2022,Врач Щедрин,NaN,NaN,NaN
7,NaN,NaN,None,1.8.1,M54.2 M54.6 M54.1,"Прием (осмотр, консультация) врача-пульмонол...",1.0,1073.0,1073.0

In [14]:
# Заполним пропуски последним известным значением сверху

df['fio'] = df['fio'].ffill()
df['policy_number'] = df['policy_number'].ffill()

df

,fio,policy_number,date,service_code,diagnosis,tittle,quantity,price,discounted_sum
0,Иванов Иван Иванович,23-555555/10,None,NaN,NaN,NaN,NaN,NaN,NaN
1,Иванов Иван Иванович,23-555555/10,None,NaN,13.07.2022,Врач Горелов,NaN,NaN,NaN
2,Иванов Иван Иванович,23-555555/10,None,1.2.4,H52.0,"Прием (осмотр, консультация) врача-ревматоло...",1.0,1112.0,1112.0
3,Иванов Иван Иванович,23-555555/10,None,NaN,14.07.2022,Врач Аксенов,NaN,NaN,NaN
4,Иванов Иван Иванович,23-555555/10,None,1.31.1,J30.0 J34.2 K21 H91.1,"Прием (осмотр, консультация) врача-терапевта...",1.0,1112.0,1112.0
5,Петров Петр Петрович,23-555555/27,None,NaN,NaN,NaN,NaN,NaN,NaN
6,Петров Петр Петрович,23-555555/27,None,NaN,19.07.2022,Врач Щедрин,NaN,NaN,NaN
7,Петров Петр Петрович,23-555555/27,None,1.8.1,M54.2 M54.6 M54.1,"Прием (осмотр, консультация) врача-пульмонол...",1.0,1073.0,1073.0

In [15]:
# 8. Из вышеприведённой таблицы видно, что местоположение даты имеет закономерность. Она выше названия услуги на 1 строку.
# Заполним колонку 'date' с соответствующим смещением.
df['date'] = df.diagnosis.shift(1)
df

,fio,policy_number,date,service_code,diagnosis,tittle,quantity,price,discounted_sum
0,Иванов Иван Иванович,23-555555/10,None,NaN,NaN,NaN,NaN,NaN,NaN
1,Иванов Иван Иванович,23-555555/10,NaN,NaN,13.07.2022,Врач Горелов,NaN,NaN,NaN
2,Иванов Иван Иванович,23-555555/10,13.07.2022,1.2.4,H52.0,"Прием (осмотр, консультация) врача-ревматоло...",1.0,1112.0,1112.0
3,Иванов Иван Иванович,23-555555/10,H52.0,NaN,14.07.2022,Врач Аксенов,NaN,NaN,NaN
4,Иванов Иван Иванович,23-555555/10,14.07.2022,1.31.1,J30.0 J34.2 K21 H91.1,"Прием (осмотр, консультация) врача-терапевта...",1.0,1112.0,1112.0
5,Петров Петр Петрович,23-555555/27,J30.0 J34.2 K21 H91.1,NaN,NaN,NaN,NaN,NaN,NaN
6,Петров Петр Петрович,23-555555/27,NaN,NaN,19.07.2022,Врач Щедрин,NaN,NaN,NaN
7,Петров Петр Петрович,23-555555/27,19.07.2022,1.8.1,M54.2 M54.6 M54.1,"Прием (осмотр, консультация) врача-пульмонол...",1.0,1073.0,1073.0

In [16]:
# 9. Удалим все строки, имеющие хотя бы одно NAN, и обновим индекс.
df = df.dropna().reset_index(drop=True)
df

,fio,policy_number,date,service_code,diagnosis,tittle,quantity,price,discounted_sum
0,Иванов Иван Иванович,23-555555/10,13.07.2022,1.2.4,H52.0,"Прием (осмотр, консультация) врача-ревматоло...",1.0,1112.0,1112.0
1,Иванов Иван Иванович,23-555555/10,14.07.2022,1.31.1,J30.0 J34.2 K21 H91.1,"Прием (осмотр, консультация) врача-терапевта...",1.0,1112.0,1112.0
2,Петров Петр Петрович,23-555555/27,19.07.2022,1.8.1,M54.2 M54.6 M54.1,"Прием (осмотр, консультация) врача-пульмонол...",1.0,1073.0,1073.0

In [17]:
# 10. Приведём 3 последних столбца к требуемому виду.
columns = ['price', 'discounted_sum', 'quantity']
df[columns] = df[columns].astype('int64')

In [18]:
# 11. Финальное переименование
df.columns = target_df.columns

In [19]:
# 14. Сравним полученный результат с ожидаемым.
# Результат
df

,ФИО,Номер полиса,Дата оказания услуги,Код услуги,Диагноз,Наименование услуги,Кол-во,Цена по прейскуранту,Сумма со скидкой
0,Иванов Иван Иванович,23-555555/10,13.07.2022,1.2.4,H52.0,"Прием (осмотр, консультация) врача-ревматоло...",1,1112,1112
1,Иванов Иван Иванович,23-555555/10,14.07.2022,1.31.1,J30.0 J34.2 K21 H91.1,"Прием (осмотр, консультация) врача-терапевта...",1,1112,1112
2,Петров Петр Петрович,23-555555/27,19.07.2022,1.8.1,M54.2 M54.6 M54.1,"Прием (осмотр, консультация) врача-пульмонол...",1,1073,1073

In [20]:
# Ожидаемый результат
target_df

,ФИО,Номер полиса,Дата оказания услуги,Код услуги,Диагноз,Наименование услуги,Кол-во,Цена по прейскуранту,Сумма со скидкой
0,Иванов Иван Иванович,23-555555/10,13.07.2022,1.2.4,H52.0,"Прием (осмотр, консультация) врача-ревматоло...",1,1112,1112
1,Иванов Иван Иванович,23-555555/10,14.07.2022,1.31.1,J30.0 J34.2 K21 H91.1,"Прием (осмотр, консультация) врача-терапевта...",1,1112,1112
2,Петров Петр Петрович,23-555555/27,19.07.2022,1.8.1,M54.2 M54.6 M54.1,"Прием (осмотр, консультация) врача-пульмонол...",1,1073,1073

----------------------------------------------------------------------------------------------------------------------

### Задание 2. Города_vba

С помощью макроса vba обработать данные на листе «Адреса» таким образом (ожидаемый результат представлен на листе «Вывод»):

·         если один из городов на листе «Города» указан в адресе, в соседней ячейке следует указать найденный город;

·         если ни один из городов на листе «Города» в адресе не найден, соседняя ячейка должна остаться пустой.

Если результат не получится с помощью макроса – можно использовать скрипт на python.

### Решение (VBA)

In [21]:
# Файл 'решение_задания_2_город_vba.xlsm' прилагается.
# Также он доступен по ссылке, хранящейся в переменной URL, находящейся в ячейке с кодом ниже.

Option Compare Text

Sub FindCity()

    Dim cities As Range
    Dim cell As Range
    Dim lastRow As Long
    Dim i As Long
    Dim patern As String
    
    Set cities = ThisWorkbook.Worksheets(1).Range("a2", ThisWorkbook.Worksheets(1).Range("a2").End(xlDown))

    lastRow = ThisWorkbook.Worksheets(2).Cells(Rows.Count, 1).End(xlUp).Row
    
    For i = 2 To lastRow
        For Each cell In cities
            patern = "*" & cell & ",*"
            If ThisWorkbook.Worksheets(2).Cells(i, 1).Value Like patern Then
            ThisWorkbook.Worksheets(2).Cells(i, 2) = cell.Value
    Exit For
            End If
        Next cell
    Next i

End Sub

In [22]:
# Результат выполнения макроса FindCity
url = 'https://docs.google.com/spreadsheets/d/13Vxjdd5CU7WLed8uJLMZ9U9FCzMoenWr/edit?usp=share_link&ouid=104521593033447016990&rtpof=true&sd=true'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
result = pd.read_excel(path, sheet_name=1)
result

                                            Адреса   Unnamed: 1
0                 г. Москва, ул. Пятницкая, дом 33       Москва
1  г. Москва, Ленинский проспект, дом 11, корпус 3       Москва
2            г новосибирск, улица дорожная, дом 44  Новосибирск
3       г.казань, ул. Хадии Давлетшиной, дом 55/45       Казань
4              г. Тула, улица Новосибирская, дом 6          NaN
5    г. Петрозаводск, ул. Невзора, дом 6, корпус 4          NaN


Python way

In [23]:
# Загружаем данные
url = 'https://docs.google.com/spreadsheets/d/1o1OuIdZWt-1mrEPCvretwf99w-DdHMPD/edit?usp=drive_link&ouid=104521593033447016990&rtpof=true&sd=true'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]


df_addresses = pd.read_excel(path, sheet_name=1) # адреса, из которых нужно вычленить города, при условии, что они содержаться в перечне городов
df_cities = pd.read_excel(path, sheet_name=0) # перечень городов

In [24]:
df_addresses['city'] = None
df_addresses

                                            Адреса  city
0                 г. Москва, ул. Пятницкая, дом 33  None
1  г. Москва, Ленинский проспект, дом 11, корпус 3  None
2            г новосибирск, улица дорожная, дом 44  None
3       г.казань, ул. Хадии Давлетшиной, дом 55/45  None
4              г. Тула, улица Новосибирская, дом 6  None
5    г. Петрозаводск, ул. Невзора, дом 6, корпус 4  None

In [25]:
# При импорте df_cities считывается как DataFrame с одним столбцом.
# Поэтому для удобства переведем его в список. 
target_cities = set([с.lower() for с in df_cities['Город']])
target_cities

{'владивосток', 'казань', 'москва', 'новосибирск', 'санкт-петербург'}

In [26]:
# Вычленим из адресов города
cities = df_addresses['Адреса'].str.lower().apply(lambda x: str(x).split(',')[0].replace('г.', '').replace('г', '').strip())
cities

0          москва
1          москва
2     новосибирск
3          казань
4            тула
5    петрозаводск
Name: Адреса, dtype: object

In [27]:
# Наиболее простое решение ❌

i = 0

for c in cities:
    if c in target_cities:
        df_addresses.at[i, 'city'] = c.capitalize()
    i += 1

In [28]:
# Результат
df_addresses

                                            Адреса         city
0                 г. Москва, ул. Пятницкая, дом 33       Москва
1  г. Москва, Ленинский проспект, дом 11, корпус 3       Москва
2            г новосибирск, улица дорожная, дом 44  Новосибирск
3       г.казань, ул. Хадии Давлетшиной, дом 55/45       Казань
4              г. Тула, улица Новосибирская, дом 6         None
5    г. Петрозаводск, ул. Невзора, дом 6, корпус 4         None

Цель достигнута. Но, перебор простым циклом не самый оптимальный и эффективный вариант для обработки больших данных. Доработаем! 

Альтернативные варианты:

In [29]:
# Вариант № 1: Избавляемся от счётчика. ❌ 
# enumerate() гарантирует, что i всегда соответствует текущему индексу строки. 

for i, c in enumerate(cities):
    df_addresses.at[i, 'city'] = c.capitalize() if c in target_cities else None

# Но всё ещё есть цикл. Да и метод .at[] сразу вносит изменения в df, что, конечно удобно, но не очень эффективно при большом объёме данных.

In [30]:
# Альтернативный вариант № 2. ✅ Более быстрый метод.
df_addresses['city'] = cities.apply(lambda c: c.capitalize() if c in target_cities else None)

In [31]:
# Вариант № 3: в его основе лежит генератор списка. Более компактный способ и самый быстрый из всех. ✅✅

df_addresses['city'] = [c.capitalize() if c in target_cities else None for c in cities]

In [32]:
# Результат
df_addresses

                                            Адреса         city
0                 г. Москва, ул. Пятницкая, дом 33       Москва
1  г. Москва, Ленинский проспект, дом 11, корпус 3       Москва
2            г новосибирск, улица дорожная, дом 44  Новосибирск
3       г.казань, ул. Хадии Давлетшиной, дом 55/45       Казань
4              г. Тула, улица Новосибирская, дом 6         None
5    г. Петрозаводск, ул. Невзора, дом 6, корпус 4         None

### Спасибо за интересное тестовое! Хорошего дня!